body {
  font-family: "Open Sans";
  font-size: 20px;
  color: white;
  background-color: dimgrey;
}

#collabtextpad {
	position: fixed;
  	/*padding-left: 20px;*/
  	/*margin-top: 5px;*/
	width: 90%; 
	height: 100%;
	overflow-y: auto;
	white-space: pre-wrap;
}

/*[contenteditable]:focus {
    outline: 0px solid transparent;
}*/